[Desktop Entry]
Version=1.0
Type=Application
Name=SD V1.1
Name[fr]=SD V1.1
Comment=Fabrique microSD EtR - version 1.1
Comment[fr]=Fabrique microSD EtR - version 1.1
Exec=sudo -n /usr/local/bin/etr-sd-factory-launch.sh
Path=/home/oryx/EtR-core
Icon=drive-removable-media
Terminal=false
StartupNotify=true
Categories=System;Utility;
