[Unit]
Description=Relance automatique de la fabrique microSD EtR
After=spi-desktop.service graphical.target
Requires=spi-desktop.service
Conflicts=etr-sd-factory.service

[Service]
Type=simple
User=root
Group=root
Environment=DISPLAY=:1
Environment=XAUTHORITY=/home/oryx/.Xauthority
WorkingDirectory=/home/oryx/EtR-core
ExecStart=/home/oryx/EtR-core/.venv/bin/python /home/oryx/EtR-core/src/deploy/raspi/etr_sd_factory_auto.py
Restart=no
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
